{% extends 'mapalo/auth/auth_base.html'%}
{% block head_title %}
	Profile
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h2 style="text-align: center; color: indigo;">Finish Setting Up Your Profile</h2>
        <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
            <div style="width: 700px; max-width: 100%; border: 2px solid gray; border-radius: 10px; padding: 2rem; margin-top: 3rem; margin-bottom: 3rem;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}