{% extends 'mapalo/auth/auth_base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    MSNT Change Password
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div style="width: 100%; max-width: 100%; border: 1px solid lightgrey; border-radius: 10px; padding: 2rem; margin-top: 3rem; margin-bottom: 3rem;">
        <form method="post" class="form">
        {% csrf_token %}
        <legend style="color: indigo;">Change Password</legend>
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>

</div>

{% endblock content %}