{% extends 'lata/lata_base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
	Messages
{% endblock %}
{% block content %}
	<div class="container">
        <div style="margin-top: 30px; width: 100%; max-width: 100%; height: auto;">
            <div style="color: indigo;">
                <h3>{body}</h3>
                <h4>Regards From{business_name}.</h4>
            </div>
            <div style="margin-top: 50px;">
                <h3>&copy;Sophans</h3>
            </div>
        </div>
    </div>
{% endblock content %}