{% extends 'stephan/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    Sophans Password Word
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div style="width: 100%; max-width: 100%; border: 1px solid lightgrey; border-radius: 10px; padding: 2rem; box-shadow: 1px 2px 2px 5px lightgrey; margin-top: 3rem; margin-bottom: 3rem;">
        <form method="post" class="form">
        {% csrf_token %}
        <legend>Change Password</legend>
        {{ form|crispy }}
        <button type="submit" id="settings-buttons">Change</button>
      </form>
    </div>

</div>

{% endblock content %}