{% extends 'stephan/index.html' %}
{% block head_title %}
	Sophans User Settings
{% endblock %}
{% block content %}
	<div class="container-fluid">
    <div style="display: flex; flex-wrap: wrap;">
        <div style="width: 300px; max-width: 100%; min-height: 200px; max-height: 570px; border-right: 1px solid #01011e; border-radius: 7px;">
            <ul style="list-style-type: none; line-height: 30px; background-color: #d7d4d4;">
                <li><button class="set_link" style="color: black; margin-top: 2rem; background-color: #d7d4d4;" hx-get="{% url 'password_change' %}" hx-target="#settings_detail" hx-swap="innerHTML">Change Password</button></li>
                <li><button class="set_link" style="color: black; background-color: #d7d4d4;" hx-get="{% url 'email-change' %}" hx-target="#settings_detail" hx-swap="innerHTML">Change Email</button></li>
                <li><button class="set_link" style="color: red; background-color: #d7d4d4;" hx-get="{% url 'delete-user-data' %}" hx-target="#settings_detail" hx-swap="innerHTML">Delete Data</button></li>
                <li><button class="set_link" style="color: red; background-color: #d7d4d4;" hx-get="{% url 'delete-account' %}" hx-target="#settings_detail" hx-swap="innerHTML">Delete Account</button></li>
                <li><button class="set_link" style="color: darkslateblue; background-color: #d7d4d4;" hx-get="{% url 'about-us' %}" hx-target="#settings_detail" hx-swap="innerHTML">About <b>Sophans</b></button></li>
            </ul>
        </div>
        <div style="width: 1000px; max-width: 100%; height: auto; border-radius: 10px; margin-left: 10px;" id="settings_detail">
            Click on Any Option on the Left to See More Details
        </div>
    </div>
    </div>
{% endblock content %}