{% extends 'stephan/index.html'%}
{% block head_title %}
	Tenant Details
{% endblock %}
{% block content %}
    <div class="container" id="ten-detail">
        <span>
          <a href="{{request.META.HTTP_REFERER}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="indigo" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
          </a>
        </span>
        {% if request.user.tenantprofile.has_paid %}
          <div style="text-align: center; margin-top: 20px;">
              <button hx-get="{% url 'tenant-update' object.id %}" hx-target="#ten-detail" hx-swap="innerHTML" hx-push-url="true" class="btn btn-outline-secondary">Edit
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
              </button>
              <button hx-get="{% url 'tenant-delete' object.id %}" hx-target="#ten-detail" hx-swap="innerHTML" hx-push-url="true" class="btn btn-outline-danger">Delete
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                  </svg>
              </button>
          </div>
        {% else %}
          <h1 style="text-align: center; color: indigo;">Subscribe To Use All Sophans Features</h1>
        {% endif %}
        <hr>
        <div style="margin-top: 50px;">
            <!--Tenant info-->
            <div style="display: flex; align-items: center; justify-content: space-between;" class="mt-5">
                <div>
                    <h1 style="color: purple; font-family: Arial">{{tenant.name}}</h1>
                    <ul style="list-style: none; font-family: Arial">
                        <li><b>Bedspace:</b> {{tenant.bedspace}}</li>
                        <li><b>Sex:</b> {{tenant.sex}}</li>
                        <li><b>Contact:</b> {{tenant.contact}}</li>
                        <li><b>Email:</b> {{tenant.email}}</li>
                        <li><b>NRC No.:</b> {{tenant.nrc_number}}</li>
                        <li><b>From:</b> {{tenant.location}}</li>
                        <li><b>School:</b> {{tenant.school}}</li>
                        <li><b>Amount Paid:</b> K{{tenant.amount}}</li>
                        <li><b>Status:</b> {% if tenant.paid %} Paid {% else %} Not Paid {% endif %}</li>
                        <li><b>Due Date:</b> {{tenant.due}}</li>
                        <li><b>Date Added:</b> {{tenant.added}}</li>
                    </ul>
                </div>
                <div class="image">
                    <img style="border-radius: 5px" src="{{tenant.picture.url}}" alt="Profile Picture">
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div class="gurd">
                <h1>Guardians Info</h1>
                <div style="display: flex; align-items: center; justify-content: space-evenly;">
                  <h3>{{tenant.guardians_name}}</h3>
                  <h3>{{tenant.guardians_contact}}</h3>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h1>Payments</h1>
            {% if transactions %}
                <div style="width: 100%; max-width: 100%; margin-left: 15px; margin-right: 10px;">
                  <div style="padding: 10px; height: auto; border-radius: 5px; background-color: lightgrey">
                    <table class="table table-borderless table-hover table-secondary">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Status</th>
                          <th scope="col">Date</th>
                        </tr>
                      </thead>
                        <tbody class="table-group-divider">
                          {% for transaction in transactions %}
                              {% if transaction.paid %}
                                  <tr>
                                    <th style="color: green;" scope="row">{{forloop.counter}}</th>
                                    <td style="color: green;">{{transaction.tenant}}</td>
                                    <td style="color: green;">K{{transaction.amount}}</td>
                                    <td style="color: green;">{% if transaction.paid %}Paid{% else %}Not Paid{% endif %}</td>
                                    <td style="color: green;">{{transaction.date}}</td>
                                  </tr>
                              {% else %}
                                  <tr>
                                    <th style="color: red;" scope="row">{{forloop.counter}}</th>
                                    <td style="color: red;">{{transaction.tenant}}</td>
                                    <td style="color: red;">-K{{transaction.amount}}</td>
                                    <td style="color: red;">{% if transaction.paid %}Paid{% else %}Not Paid{% endif %}</td>
                                    <td style="color: red;">{{transaction.date}}</td>
                                  </tr>
                              {% endif %}
                          {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
            {% else %}
                <h3>No Payments</h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}